<!-- Copy this file, removing the .example extension. Then fill in your connection details to get started with Rock. -->
<connectionStrings>
  <add
    name="RockContext"
    connectionString="
      Data Source=localhost;
      Initial Catalog=rockdatablydev;
      User Id=sa;
      password=test123@321;
      MultipleActiveResultSets=true"
    providerName="System.Data.SqlClient"/>
</connectionStrings>