Plugins/org.secc.FamilyCheckin/bin/
Plugins/org.secc.FamilyCheckin/obj/
Plugins/org.secc.OAuth/bin/
Plugins/org.secc.OAuth/obj/
Plugins/org.secc.OAuth/.nuget/
Plugins/org.secc.Purchasing/bin/
Plugins/org.secc.Purchasing/obj/
Plugins/org.secc.Purchasing/packages/
Plugins/org.secc.Purchasing/.nuget/
Plugins/org.secc.PDFMerge/bin/
Plugins/org.secc.PDFMerge/obj/
Plugins/org.secc.PayPalReporting/.nuget/
Plugins/org.secc.PayPalReporting/bin/
Plugins/org.secc.PayPalReporting/obj/
Plugins/org.secc.PayPalExpress/.nuget/
Plugins/org.secc.PayPalExpress/bin/
Plugins/org.secc.PayPalExpress/obj/
Plugins/org.secc.PDF/bin/
Plugins/org.secc.PDF/obj/
Plugins/org.secc.Authentication/bin/
Plugins/org.secc.Authentication/obj/
Plugins/org.secc.LessInclude/bin/
Plugins/org.secc.LessInclude/obj/
Plugins/org.secc.PersonMatch/obj/
Plugins/org.secc.RoomManager/bin/
Plugins/org.secc.RoomManager/obj/
Plugins/org.secc.SportsAndFitness/bin/
Plugins/org.secc.SportsAndFitness/obj/
Tools/org.secc.OAuthTestClient/.vs/
Tools/org.secc.OAuthTestClient/bin/
Tools/org.secc.OAuthTestClient/obj/
Tools/org.secc.OAuthTestClient/packages/
Plugins/org.secc.Rest/bin/
Plugins/org.secc.Rest/obj/
Plugins/org.secc.Migrations/bin/
Plugins/org.secc.Migrations/obj/
Plugins/org.secc.ServiceReef/bin/
Plugins/org.secc.ServiceReef/obj/
Plugins/org.secc.PersonMatch/bin/
