Plugins/*/.nuget/
Plugins/*/packages/
Plugins/*/bin/
Plugins/*/obj/
Tools/org.secc.OAuthTestClient/.vs/
Tools/org.secc.OAuthTestClient/bin/
Tools/org.secc.OAuthTestClient/obj/
Tools/org.secc.OAuthTestClient/packages/
