<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="org.secc.Purchasing.Properties.Settings.ShelbyDBReplConnectionString" connectionString="Data Source=ar-sql02;Initial Catalog=ShelbyDBRepl;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="org.secc.Purchasing.Properties.Settings.ArenaDBConnectionString" connectionString="Data Source=p10-ardevsql01;Initial Catalog=ArenaDB_ChrisF;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="org.secc.Purchasing.Properties.Settings.RockRMSConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=RockRMS;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>